.card {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0.8rem 1.2rem;
    /* width: 100%; */
    width: 18rem;
    border-radius: 6px;
    background-color: #ffff;
    box-shadow: 0px 0px 8px 0px #0000001a;
    border: 1px solid #e6e7eb;
}

.card-header {
    display: flex;
    color: #8d8d8d;
    justify-content: space-between;
}

.card-footer {
    display: flex;
    gap: 1rem;
}

.card-priority,
.card-tag {
    border: 1px solid #e6e7eb;
    color: #8d8d8d;
    padding: 2px 5px;
}

.card-priority-1 {
    background-color: lightcyan;
}

.card-priority-2 {
    background-color: green;
}

.card-priority-3 {
    background-color: yellow;
}

.card-priority-4 {
    background-color: red;
}

.card-tag {
    display: flex;
    align-items: center;
}